# This GitHub Action automates the process of building Grafana plugins.
name: Release

on:
  push:
    tags:
      - 'v*' # Run workflow on version tags, e.g. v1.0.0.

permissions: read-all

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build frontend
        run: npm run build

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build backend
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: buildAll

      - name: Get plugin metadata
        id: metadata
        run: |
          sudo apt-get install jq
          export GRAFANA_PLUGIN_VERSION=$(cat dist/datasource/plugin.json | jq -r .info.version)
          echo "plugin-version=${GRAFANA_PLUGIN_VERSION}" >> $GITHUB_OUTPUT

      - name: Package plugins
        run: |
          mkdir -p opslogix-scomalerts-datasource
          mkdir -p opslogix-scomalerts-panel
          cp -r dist/datasource/* opslogix-scomalerts-datasource/
          cp -r dist/panel/* opslogix-scomalerts-panel/
          zip -r opslogix-scomalerts-${{ steps.metadata.outputs.plugin-version }}.zip opslogix-scomalerts-datasource opslogix-scomalerts-panel

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: opslogix-scomalerts-${{ steps.metadata.outputs.plugin-version }}.zip
          generate_release_notes: true
